/* Style de base */
body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

.box {
    background-color: lightblue;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
}

/* Écran large : Plus de 1024px */
@media (min-width: 1025px) {
    .box {
        background-color: green;
        color: white;
        width: 90%;
    }
}

/* Écran moyen : Entre 768px et 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    .box {
        background-color: blue;
        color: white;
        width: 70%;
    }
}

/* Écran étroit : Moins de 768px */
@media (max-width: 767px) {
    .box {
        background-color: yellow;
        color: #333;
        width: 80%;
        max-width: 350px;
    }
}
